#navigation{
	position: static;
	margin-left: 25%;
	text-align: center;
}
#tablesectionOne{
	table-layout: fixed;
	text-align: center;
	background-color: #FFFFDD;
	position: static;
	margin-top: 7e;
}
#tablesectionTwo{
	table-layout: fixed;
	text-align: center;
	background-color: #FFFFDD;
	position: static;
	margin-top: 7e;
}
#tablesectionThree{
	table-layout: fixed;
	text-align: center;
	background-color: #FFFFDD;
	position: static;
	margin-top: 7e;
}
#tablesectionFour{
	table-layout: fixed;
	text-align: center;
	background-color: #FFFFDD;
	position: static;
	margin-top: 7e;
}
.CAPTION{
	background-color: rgb(255,185,115);
	font-size: 1em;
	font-family: arial;
}
th,td{
	border: 1px solid #D0D0D0;
	empty-cells: show;
}
body{
	background-color:  #FFFFCC;
}

